body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.gifer.com/embedded/download/NI1J.gif');
    background-size: cover;
    backdrop-filter: blur(6px);
}

.container {
    width: 80%;
    max-width: 800px;
}

.terminal {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    padding: 35px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    overflow-y: auto;
    max-height: 70vh;
}

#output {
    margin-bottom: 10px;
    white-space: pre-wrap; /* Ensure output text wraps correctly */
    text-align: left; /* Ensure output text is left-aligned */
    color: rgb(255, 128, 255);
}

#neofetch {
    margin-bottom: 10px;
    white-space: pre-wrap; /* Ensure output text wraps correctly */
    text-align: left; /* Ensure output text is left-aligned */
    color: rgb(255, 255, 255);
}

.input-line {
    display: flex;
}

#prompt {
    color: rgb(255, 255, 255);
}

body, .terminal, #output, #neofetch, #prompt, #command-input {
    font-size: 16px; /* Adjust the size as needed */
    font-family: 'Courier New', Courier, monospace;
}

#command-input {
    background: none;
    border: none;
    color: rgb(255, 128, 255);
    outline: none;
    flex-grow: 1;
}

#command-input::placeholder {
    color: rgb(255, 0, 255);
}
